# Project exclude paths
/.gradle/
/.local.properties
/local.properties
.gradle
gradlew
gradlew.bat
build/
/.idea/workspace.xml
.idea/
/local.properties
/*/local.properties
/*/out
/*/*/build
/*/*/production
*.iml
*~
*.swp
*.ipr
*.iws
